Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /twbscolor/

  # RewriteCond %{HTTP_HOST} !^work\.smarchal\.com [NC]
  # RewriteRule ^(.*)$ http://work.smarchal.com/twbscolor/$1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule .* - [S=8]
  RewriteRule ^(\d\.[^/]+)/(scss|sass|less|css)/([\da-f]{25})$ index.php?version=$1&tab=$2&params=$3 [L,QSA]
  RewriteRule ^(\d\.[^/]+)/(scss|sass|less|css)$               index.php?version=$1&tab=$2 [L,QSA]
  RewriteRule ^(\d\.[^/]+)/([\da-f]{25})$                      index.php?version=$1&params=$2 [L,QSA]
  RewriteRule ^(\d\.[^/]+)$                                    index.php?version=$1 [L,QSA]
  RewriteRule ^(scss|sass|less|css)/([\da-f]{25})$             index.php?tab=$1&params=$2 [L,QSA]
  RewriteRule ^(scss|sass|less|css)$                           index.php?tab=$1 [L,QSA]
  RewriteRule ^([\da-f]{25})$                                  index.php?params=$1 [L,QSA]
  RewriteRule .*                                               index.php [L,QSA,R=301]

  # Errors
  ErrorDocument 404 /
</IfModule>
