/*
Document : MonsterFlat
Author   : Samuel Marchal - @zessx
Version  : 1.0
Update   : 2013-05-16
Licence  : CC-BY 3.0 - http://creativecommons.org/licenses/by/3.0/
*/
.mf-32  { display: block; width: 32px;  height: 32px;  border-radius: 16px; background: transparent url(./monsterflat/mf-icons-circle32.png) 0 0; } 
.mf-64  { display: block; width: 64px;  height: 64px;  border-radius: 32px; background: transparent url(./monsterflat/mf-icons-circle64.png) 0 0; } 
.mf-128 { display: block; width: 128px; height: 128px; border-radius: 64px; background: transparent url(./monsterflat/mf-icons-circle128.png) 0 0; } 
.mf-square .mf-32,  .mf-square.mf-32  { border-radius: 0px; background: transparent url(./monsterflat/mf-icons-square32.png) 0 0; }
.mf-square .mf-64,  .mf-square.mf-64  { border-radius: 0px; background: transparent url(./monsterflat/mf-icons-square64.png) 0 0; }
.mf-square .mf-128, .mf-square.mf-128 { border-radius: 0px; background: transparent url(./monsterflat/mf-icons-square128.png) 0 0; }
/* Mini Pack */
.mf-32.mf-monsterflat { background-position: 0px 0px; } .mf-32.mf-monsterflat-r { background-position: 0px -32px; }
.mf-64.mf-monsterflat { background-position: 0px 0px; } .mf-64.mf-monsterflat-r { background-position: 0px -64px; }
.mf-128.mf-monsterflat { background-position: 0px 0px; } .mf-128.mf-monsterflat-r { background-position: 0px -128px; }
.mf-32.mf-email { background-position: -32px 0px; } .mf-32.mf-email-r { background-position: -32px -32px; }
.mf-64.mf-email { background-position: -64px 0px; } .mf-64.mf-email-r { background-position: -64px -64px; }
.mf-128.mf-email { background-position: -128px 0px; } .mf-128.mf-email-r { background-position: -128px -128px; }
.mf-32.mf-phone { background-position: -64px 0px; } .mf-32.mf-phone-r { background-position: -64px -32px; }
.mf-64.mf-phone { background-position: -128px 0px; } .mf-64.mf-phone-r { background-position: -128px -64px; }
.mf-128.mf-phone { background-position: -256px 0px; } .mf-128.mf-phone-r { background-position: -256px -128px; }
.mf-32.mf-rss { background-position: -96px 0px; } .mf-32.mf-rss-r { background-position: -96px -32px; }
.mf-64.mf-rss { background-position: -192px 0px; } .mf-64.mf-rss-r { background-position: -192px -64px; }
.mf-128.mf-rss { background-position: -384px 0px; } .mf-128.mf-rss-r { background-position: -384px -128px; }
.mf-32.mf-geoloc { background-position: -128px 0px; } .mf-32.mf-geoloc-r { background-position: -128px -32px; }
.mf-64.mf-geoloc { background-position: -256px 0px; } .mf-64.mf-geoloc-r { background-position: -256px -64px; }
.mf-128.mf-geoloc { background-position: -512px 0px; } .mf-128.mf-geoloc-r { background-position: -512px -128px; }
.mf-32.mf-link { background-position: -160px 0px; } .mf-32.mf-link-r { background-position: -160px -32px; }
.mf-64.mf-link { background-position: -320px 0px; } .mf-64.mf-link-r { background-position: -320px -64px; }
.mf-128.mf-link { background-position: -640px 0px; } .mf-128.mf-link-r { background-position: -640px -128px; }
.mf-32.mf-download { background-position: -192px 0px; } .mf-32.mf-download-r { background-position: -192px -32px; }
.mf-64.mf-download { background-position: -384px 0px; } .mf-64.mf-download-r { background-position: -384px -64px; }
.mf-128.mf-download { background-position: -768px 0px; } .mf-128.mf-download-r { background-position: -768px -128px; }
.mf-32.mf-bookmark { background-position: -224px 0px; } .mf-32.mf-bookmark-r { background-position: -224px -32px; }
.mf-64.mf-bookmark { background-position: -448px 0px; } .mf-64.mf-bookmark-r { background-position: -448px -64px; }
.mf-128.mf-bookmark { background-position: -896px 0px; } .mf-128.mf-bookmark-r { background-position: -896px -128px; }
.mf-32.mf-facebook { background-position: 0px -64px; } .mf-32.mf-facebook-r { background-position: 0px -96px; }
.mf-64.mf-facebook { background-position: 0px -128px; } .mf-64.mf-facebook-r { background-position: 0px -192px; }
.mf-128.mf-facebook { background-position: 0px -256px; } .mf-128.mf-facebook-r { background-position: 0px -384px; }
.mf-32.mf-twitter { background-position: -32px -64px; } .mf-32.mf-twitter-r { background-position: -32px -96px; }
.mf-64.mf-twitter { background-position: -64px -128px; } .mf-64.mf-twitter-r { background-position: -64px -192px; }
.mf-128.mf-twitter { background-position: -128px -256px; } .mf-128.mf-twitter-r { background-position: -128px -384px; }
.mf-32.mf-youtube { background-position: -64px -64px; } .mf-32.mf-youtube-r { background-position: -64px -96px; }
.mf-64.mf-youtube { background-position: -128px -128px; } .mf-64.mf-youtube-r { background-position: -128px -192px; }
.mf-128.mf-youtube { background-position: -256px -256px; } .mf-128.mf-youtube-r { background-position: -256px -384px; }
.mf-32.mf-googleplus { background-position: -96px -64px; } .mf-32.mf-googleplus-r { background-position: -96px -96px; }
.mf-64.mf-googleplus { background-position: -192px -128px; } .mf-64.mf-googleplus-r { background-position: -192px -192px; }
.mf-128.mf-googleplus { background-position: -384px -256px; } .mf-128.mf-googleplus-r { background-position: -384px -384px; }
.mf-32.mf-linkedin { background-position: -128px -64px; } .mf-32.mf-linkedin-r { background-position: -128px -96px; }
.mf-64.mf-linkedin { background-position: -256px -128px; } .mf-64.mf-linkedin-r { background-position: -256px -192px; }
.mf-128.mf-linkedin { background-position: -512px -256px; } .mf-128.mf-linkedin-r { background-position: -512px -384px; }
.mf-32.mf-pinterest { background-position: -160px -64px; } .mf-32.mf-pinterest-r { background-position: -160px -96px; }
.mf-64.mf-pinterest { background-position: -320px -128px; } .mf-64.mf-pinterest-r { background-position: -320px -192px; }
.mf-128.mf-pinterest { background-position: -640px -256px; } .mf-128.mf-pinterest-r { background-position: -640px -384px; }
.mf-32.mf-foursquare { background-position: -192px -64px; } .mf-32.mf-foursquare-r { background-position: -192px -96px; }
.mf-64.mf-foursquare { background-position: -384px -128px; } .mf-64.mf-foursquare-r { background-position: -384px -192px; }
.mf-128.mf-foursquare { background-position: -768px -256px; } .mf-128.mf-foursquare-r { background-position: -768px -384px; }
.mf-32.mf-picasa { background-position: -224px -64px; } .mf-32.mf-picasa-r { background-position: -224px -96px; }
.mf-64.mf-picasa { background-position: -448px -128px; } .mf-64.mf-picasa-r { background-position: -448px -192px; }
.mf-128.mf-picasa { background-position: -896px -256px; } .mf-128.mf-picasa-r { background-position: -896px -384px; }
.mf-32.mf-tumblr { background-position: 0px -128px; } .mf-32.mf-tumblr-r { background-position: 0px -160px; }
.mf-64.mf-tumblr { background-position: 0px -256px; } .mf-64.mf-tumblr-r { background-position: 0px -320px; }
.mf-128.mf-tumblr { background-position: 0px -512px; } .mf-128.mf-tumblr-r { background-position: 0px -640px; }
.mf-32.mf-deviantart { background-position: -32px -128px; } .mf-32.mf-deviantart-r { background-position: -32px -160px; }
.mf-64.mf-deviantart { background-position: -64px -256px; } .mf-64.mf-deviantart-r { background-position: -64px -320px; }
.mf-128.mf-deviantart { background-position: -128px -512px; } .mf-128.mf-deviantart-r { background-position: -128px -640px; }
.mf-32.mf-instagram { background-position: -64px -128px; } .mf-32.mf-instagram-r { background-position: -64px -160px; }
.mf-64.mf-instagram { background-position: -128px -256px; } .mf-64.mf-instagram-r { background-position: -128px -320px; }
.mf-128.mf-instagram { background-position: -256px -512px; } .mf-128.mf-instagram-r { background-position: -256px -640px; }
.mf-32.mf-myspace { background-position: -96px -128px; } .mf-32.mf-myspace-r { background-position: -96px -160px; }
.mf-64.mf-myspace { background-position: -192px -256px; } .mf-64.mf-myspace-r { background-position: -192px -320px; }
.mf-128.mf-myspace { background-position: -384px -512px; } .mf-128.mf-myspace-r { background-position: -384px -640px; }
.mf-32.mf-dailymotion { background-position: -128px -128px; } .mf-32.mf-dailymotion-r { background-position: -128px -160px; }
.mf-64.mf-dailymotion { background-position: -256px -256px; } .mf-64.mf-dailymotion-r { background-position: -256px -320px; }
.mf-128.mf-dailymotion { background-position: -512px -512px; } .mf-128.mf-dailymotion-r { background-position: -512px -640px; }
.mf-32.mf-flickr { background-position: -160px -128px; } .mf-32.mf-flickr-r { background-position: -160px -160px; }
.mf-64.mf-flickr { background-position: -320px -256px; } .mf-64.mf-flickr-r { background-position: -320px -320px; }
.mf-128.mf-flickr { background-position: -640px -512px; } .mf-128.mf-flickr-r { background-position: -640px -640px; }
.mf-32.mf-viadeo { background-position: -192px -128px; } .mf-32.mf-viadeo-r { background-position: -192px -160px; }
.mf-64.mf-viadeo { background-position: -384px -256px; } .mf-64.mf-viadeo-r { background-position: -384px -320px; }
.mf-128.mf-viadeo { background-position: -768px -512px; } .mf-128.mf-viadeo-r { background-position: -768px -640px; }
.mf-32.mf-soundcloud { background-position: -224px -128px; } .mf-32.mf-soundcloud-r { background-position: -224px -160px; }
.mf-64.mf-soundcloud { background-position: -448px -256px; } .mf-64.mf-soundcloud-r { background-position: -448px -320px; }
.mf-128.mf-soundcloud { background-position: -896px -512px; } .mf-128.mf-soundcloud-r { background-position: -896px -640px; }
.mf-32.mf-msn { background-position: 0px -192px; } .mf-32.mf-msn-r { background-position: 0px -224px; }
.mf-64.mf-msn { background-position: 0px -384px; } .mf-64.mf-msn-r { background-position: 0px -448px; }
.mf-128.mf-msn { background-position: 0px -768px; } .mf-128.mf-msn-r { background-position: 0px -896px; }
.mf-32.mf-skyrock { background-position: -32px -192px; } .mf-32.mf-skyrock-r { background-position: -32px -224px; }
.mf-64.mf-skyrock { background-position: -64px -384px; } .mf-64.mf-skyrock-r { background-position: -64px -448px; }
.mf-128.mf-skyrock { background-position: -128px -768px; } .mf-128.mf-skyrock-r { background-position: -128px -896px; }
.mf-32.mf-blogspot { background-position: -64px -192px; } .mf-32.mf-blogspot-r { background-position: -64px -224px; }
.mf-64.mf-blogspot { background-position: -128px -384px; } .mf-64.mf-blogspot-r { background-position: -128px -448px; }
.mf-128.mf-blogspot { background-position: -256px -768px; } .mf-128.mf-blogspot-r { background-position: -256px -896px; }
.mf-32.mf-github { background-position: -96px -192px; } .mf-32.mf-github-r { background-position: -96px -224px; }
.mf-64.mf-github { background-position: -192px -384px; } .mf-64.mf-github-r { background-position: -192px -448px; }
.mf-128.mf-github { background-position: -384px -768px; } .mf-128.mf-github-r { background-position: -384px -896px; }
.mf-32.mf-digg { background-position: -128px -192px; } .mf-32.mf-digg-r { background-position: -128px -224px; }
.mf-64.mf-digg { background-position: -256px -384px; } .mf-64.mf-digg-r { background-position: -256px -448px; }
.mf-128.mf-digg { background-position: -512px -768px; } .mf-128.mf-digg-r { background-position: -512px -896px; }
.mf-32.mf-delicious { background-position: -160px -192px; } .mf-32.mf-delicious-r { background-position: -160px -224px; }
.mf-64.mf-delicious { background-position: -320px -384px; } .mf-64.mf-delicious-r { background-position: -320px -448px; }
.mf-128.mf-delicious { background-position: -640px -768px; } .mf-128.mf-delicious-r { background-position: -640px -896px; }
.mf-32.mf-lastfm { background-position: -192px -192px; } .mf-32.mf-lastfm-r { background-position: -192px -224px; }
.mf-64.mf-lastfm { background-position: -384px -384px; } .mf-64.mf-lastfm-r { background-position: -384px -448px; }
.mf-128.mf-lastfm { background-position: -768px -768px; } .mf-128.mf-lastfm-r { background-position: -768px -896px; }
.mf-32.mf-stumbleupon { background-position: -224px -192px; } .mf-32.mf-stumbleupon-r { background-position: -224px -224px; }
.mf-64.mf-stumbleupon { background-position: -448px -384px; } .mf-64.mf-stumbleupon-r { background-position: -448px -448px; }
.mf-128.mf-stumbleupon { background-position: -896px -768px; } .mf-128.mf-stumbleupon-r { background-position: -896px -896px; }
/* Social Pack */
.mf-32.mf-weibo { background-position: 0px -256px; } .mf-32.mf-weibo-r { background-position: 0px -288px; }
.mf-64.mf-weibo { background-position: 0px -512px; } .mf-64.mf-weibo-r { background-position: 0px -576px; }
.mf-128.mf-weibo { background-position: 0px -1024px; } .mf-128.mf-weibo-r { background-position: 0px -1152px; }
.mf-32.mf-vkontakte { background-position: -32px -256px; } .mf-32.mf-vkontakte-r { background-position: -32px -288px; }
.mf-64.mf-vkontakte { background-position: -64px -512px; } .mf-64.mf-vkontakte-r { background-position: -64px -576px; }
.mf-128.mf-vkontakte { background-position: -128px -1024px; } .mf-128.mf-vkontakte-r { background-position: -128px -1152px; }
.mf-32.mf-friendster { background-position: -64px -256px; } .mf-32.mf-friendster-r { background-position: -64px -288px; }
.mf-64.mf-friendster { background-position: -128px -512px; } .mf-64.mf-friendster-r { background-position: -128px -576px; }
.mf-128.mf-friendster { background-position: -256px -1024px; } .mf-128.mf-friendster-r { background-position: -256px -1152px; }
.mf-32.mf-hi5 { background-position: -96px -256px; } .mf-32.mf-hi5-r { background-position: -96px -288px; }
.mf-64.mf-hi5 { background-position: -192px -512px; } .mf-64.mf-hi5-r { background-position: -192px -576px; }
.mf-128.mf-hi5 { background-position: -384px -1024px; } .mf-128.mf-hi5-r { background-position: -384px -1152px; }
.mf-32.mf-bedo { background-position: -128px -256px; } .mf-32.mf-bedo-r { background-position: -128px -288px; }
.mf-64.mf-bedo { background-position: -256px -512px; } .mf-64.mf-bedo-r { background-position: -256px -576px; }
.mf-128.mf-bedo { background-position: -512px -1024px; } .mf-128.mf-bedo-r { background-position: -512px -1152px; }
.mf-32.mf-netlog { background-position: -160px -256px; } .mf-32.mf-netlog-r { background-position: -160px -288px; }
.mf-64.mf-netlog { background-position: -320px -512px; } .mf-64.mf-netlog-r { background-position: -320px -576px; }
.mf-128.mf-netlog { background-position: -640px -1024px; } .mf-128.mf-netlog-r { background-position: -640px -1152px; }
.mf-32.mf-livejournal { background-position: -192px -256px; } .mf-32.mf-livejournal-r { background-position: -192px -288px; }
.mf-64.mf-livejournal { background-position: -384px -512px; } .mf-64.mf-livejournal-r { background-position: -384px -576px; }
.mf-128.mf-livejournal { background-position: -768px -1024px; } .mf-128.mf-livejournal-r { background-position: -768px -1152px; }
.mf-32.mf-orkut { background-position: -224px -256px; } .mf-32.mf-orkut-r { background-position: -224px -288px; }
.mf-64.mf-orkut { background-position: -448px -512px; } .mf-64.mf-orkut-r { background-position: -448px -576px; }
.mf-128.mf-orkut { background-position: -896px -1024px; } .mf-128.mf-orkut-r { background-position: -896px -1152px; }
.mf-32.mf-cafemom { background-position: 0px -320px; } .mf-32.mf-cafemom-r { background-position: 0px -352px; }
.mf-64.mf-cafemom { background-position: 0px -640px; } .mf-64.mf-cafemom-r { background-position: 0px -704px; }
.mf-128.mf-cafemom { background-position: 0px -1280px; } .mf-128.mf-cafemom-r { background-position: 0px -1408px; }
.mf-32.mf-ning { background-position: -32px -320px; } .mf-32.mf-ning-r { background-position: -32px -352px; }
.mf-64.mf-ning { background-position: -64px -640px; } .mf-64.mf-ning-r { background-position: -64px -704px; }
.mf-128.mf-ning { background-position: -128px -1280px; } .mf-128.mf-ning-r { background-position: -128px -1408px; }
.mf-32.mf-meetup { background-position: -64px -320px; } .mf-32.mf-meetup-r { background-position: -64px -352px; }
.mf-64.mf-meetup { background-position: -128px -640px; } .mf-64.mf-meetup-r { background-position: -128px -704px; }
.mf-128.mf-meetup { background-position: -256px -1280px; } .mf-128.mf-meetup-r { background-position: -256px -1408px; }
.mf-32.mf-renren { background-position: -96px -320px; } .mf-32.mf-renren-r { background-position: -96px -352px; }
.mf-64.mf-renren { background-position: -192px -640px; } .mf-64.mf-renren-r { background-position: -192px -704px; }
.mf-128.mf-renren { background-position: -384px -1280px; } .mf-128.mf-renren-r { background-position: -384px -1408px; }
.mf-32.mf-kaixin001 { background-position: -128px -320px; } .mf-32.mf-kaixin001-r { background-position: -128px -352px; }
.mf-64.mf-kaixin001 { background-position: -256px -640px; } .mf-64.mf-kaixin001-r { background-position: -256px -704px; }
.mf-128.mf-kaixin001 { background-position: -512px -1280px; } .mf-128.mf-kaixin001-r { background-position: -512px -1408px; }
.mf-32.mf-douban { background-position: -160px -320px; } .mf-32.mf-douban-r { background-position: -160px -352px; }
.mf-64.mf-douban { background-position: -320px -640px; } .mf-64.mf-douban-r { background-position: -320px -704px; }
.mf-128.mf-douban { background-position: -640px -1280px; } .mf-128.mf-douban-r { background-position: -640px -1408px; }
.mf-32.mf-mylife { background-position: -192px -320px; } .mf-32.mf-mylife-r { background-position: -192px -352px; }
.mf-64.mf-mylife { background-position: -384px -640px; } .mf-64.mf-mylife-r { background-position: -384px -704px; }
.mf-128.mf-mylife { background-position: -768px -1280px; } .mf-128.mf-mylife-r { background-position: -768px -1408px; }
.mf-32.mf-9gag { background-position: -224px -320px; } .mf-32.mf-9gag-r { background-position: -224px -352px; }
.mf-64.mf-9gag { background-position: -448px -640px; } .mf-64.mf-9gag-r { background-position: -448px -704px; }
.mf-128.mf-9gag { background-position: -896px -1280px; } .mf-128.mf-9gag-r { background-position: -896px -1408px; }
.mf-32.mf-xing { background-position: 0px -384px; } .mf-32.mf-xing-r { background-position: 0px -416px; }
.mf-64.mf-xing { background-position: 0px -768px; } .mf-64.mf-xing-r { background-position: 0px -832px; }
.mf-128.mf-xing { background-position: 0px -1536px; } .mf-128.mf-xing-r { background-position: 0px -1664px; }
.mf-32.mf-yelp { background-position: -32px -384px; } .mf-32.mf-yelp-r { background-position: -32px -416px; }
.mf-64.mf-yelp { background-position: -64px -768px; } .mf-64.mf-yelp-r { background-position: -64px -832px; }
.mf-128.mf-yelp { background-position: -128px -1536px; } .mf-128.mf-yelp-r { background-position: -128px -1664px; }
.mf-32.mf-taringa { background-position: -64px -384px; } .mf-32.mf-taringa-r { background-position: -64px -416px; }
.mf-64.mf-taringa { background-position: -128px -768px; } .mf-64.mf-taringa-r { background-position: -128px -832px; }
.mf-128.mf-taringa { background-position: -256px -1536px; } .mf-128.mf-taringa-r { background-position: -256px -1664px; }
.mf-32.mf-tagged { background-position: -96px -384px; } .mf-32.mf-tagged-r { background-position: -96px -416px; }
.mf-64.mf-tagged { background-position: -192px -768px; } .mf-64.mf-tagged-r { background-position: -192px -832px; }
.mf-128.mf-tagged { background-position: -384px -1536px; } .mf-128.mf-tagged-r { background-position: -384px -1664px; }
.mf-32.mf-flixster { background-position: -128px -384px; } .mf-32.mf-flixster-r { background-position: -128px -416px; }
.mf-64.mf-flixster { background-position: -256px -768px; } .mf-64.mf-flixster-r { background-position: -256px -832px; }
.mf-128.mf-flixster { background-position: -512px -1536px; } .mf-128.mf-flixster-r { background-position: -512px -1664px; }
.mf-32.mf-xanga { background-position: -160px -384px; } .mf-32.mf-xanga-r { background-position: -160px -416px; }
.mf-64.mf-xanga { background-position: -320px -768px; } .mf-64.mf-xanga-r { background-position: -320px -832px; }
.mf-128.mf-xanga { background-position: -640px -1536px; } .mf-128.mf-xanga-r { background-position: -640px -1664px; }
.mf-32.mf-badoo { background-position: -192px -384px; } .mf-32.mf-badoo-r { background-position: -192px -416px; }
.mf-64.mf-badoo { background-position: -384px -768px; } .mf-64.mf-badoo-r { background-position: -384px -832px; }
.mf-128.mf-badoo { background-position: -768px -1536px; } .mf-128.mf-badoo-r { background-position: -768px -1664px; }
.mf-32.mf-odnoklassniki { background-position: -224px -384px; } .mf-32.mf-odnoklassniki-r { background-position: -224px -416px; }
.mf-64.mf-odnoklassniki { background-position: -448px -768px; } .mf-64.mf-odnoklassniki-r { background-position: -448px -832px; }
.mf-128.mf-odnoklassniki { background-position: -896px -1536px; } .mf-128.mf-odnoklassniki-r { background-position: -896px -1664px; }
.mf-32.mf-mixi { background-position: 0px -448px; } .mf-32.mf-mixi-r { background-position: 0px -480px; }
.mf-64.mf-mixi { background-position: 0px -896px; } .mf-64.mf-mixi-r { background-position: 0px -960px; }
.mf-128.mf-mixi { background-position: 0px -1792px; } .mf-128.mf-mixi-r { background-position: 0px -1920px; }
.mf-32.mf-qzone { background-position: -32px -448px; } .mf-32.mf-qzone-r { background-position: -32px -480px; }
.mf-64.mf-qzone { background-position: -64px -896px; } .mf-64.mf-qzone-r { background-position: -64px -960px; }
.mf-128.mf-qzone { background-position: -128px -1792px; } .mf-128.mf-qzone-r { background-position: -128px -1920px; }
.mf-32.mf-nicovideo { background-position: -64px -448px; } .mf-32.mf-nicovideo-r { background-position: -64px -480px; }
.mf-64.mf-nicovideo { background-position: -128px -896px; } .mf-64.mf-nicovideo-r { background-position: -128px -960px; }
.mf-128.mf-nicovideo { background-position: -256px -1792px; } .mf-128.mf-nicovideo-r { background-position: -256px -1920px; }
.mf-32.mf-cloob { background-position: -96px -448px; } .mf-32.mf-cloob-r { background-position: -96px -480px; }
.mf-64.mf-cloob { background-position: -192px -896px; } .mf-64.mf-cloob-r { background-position: -192px -960px; }
.mf-128.mf-cloob { background-position: -384px -1792px; } .mf-128.mf-cloob-r { background-position: -384px -1920px; }
.mf-32.mf-migente { background-position: -128px -448px; } .mf-32.mf-migente-r { background-position: -128px -480px; }
.mf-64.mf-migente { background-position: -256px -896px; } .mf-64.mf-migente-r { background-position: -256px -960px; }
.mf-128.mf-migente { background-position: -512px -1792px; } .mf-128.mf-migente-r { background-position: -512px -1920px; }
.mf-32.mf-studivz { background-position: -160px -448px; } .mf-32.mf-studivz-r { background-position: -160px -480px; }
.mf-64.mf-studivz { background-position: -320px -896px; } .mf-64.mf-studivz-r { background-position: -320px -960px; }
.mf-128.mf-studivz { background-position: -640px -1792px; } .mf-128.mf-studivz-r { background-position: -640px -1920px; }
.mf-32.mf-zorpia { background-position: -192px -448px; } .mf-32.mf-zorpia-r { background-position: -192px -480px; }
.mf-64.mf-zorpia { background-position: -384px -896px; } .mf-64.mf-zorpia-r { background-position: -384px -960px; }
.mf-128.mf-zorpia { background-position: -768px -1792px; } .mf-128.mf-zorpia-r { background-position: -768px -1920px; }
.mf-32.mf-coderwall { background-position: -224px -448px; } .mf-32.mf-coderwall-r { background-position: -224px -480px; }
.mf-64.mf-coderwall { background-position: -448px -896px; } .mf-64.mf-coderwall-r { background-position: -448px -960px; }
.mf-128.mf-coderwall { background-position: -896px -1792px; } .mf-128.mf-coderwall-r { background-position: -896px -1920px; }
/* Trending Pack */
.mf-32.mf-google { background-position: 0px -512px; } .mf-32.mf-google-r { background-position: 0px -544px; }
.mf-64.mf-google { background-position: 0px -1024px; } .mf-64.mf-google-r { background-position: 0px -1088px; }
.mf-128.mf-google { background-position: 0px -2048px; } .mf-128.mf-google-r { background-position: 0px -2176px; }
.mf-32.mf-windows { background-position: -32px -512px; } .mf-32.mf-windows-r { background-position: -32px -544px; }
.mf-64.mf-windows { background-position: -64px -1024px; } .mf-64.mf-windows-r { background-position: -64px -1088px; }
.mf-128.mf-windows { background-position: -128px -2048px; } .mf-128.mf-windows-r { background-position: -128px -2176px; }
.mf-32.mf-apple { background-position: -64px -512px; } .mf-32.mf-apple-r { background-position: -64px -544px; }
.mf-64.mf-apple { background-position: -128px -1024px; } .mf-64.mf-apple-r { background-position: -128px -1088px; }
.mf-128.mf-apple { background-position: -256px -2048px; } .mf-128.mf-apple-r { background-position: -256px -2176px; }
.mf-32.mf-microsoft { background-position: -96px -512px; } .mf-32.mf-microsoft-r { background-position: -96px -544px; }
.mf-64.mf-microsoft { background-position: -192px -1024px; } .mf-64.mf-microsoft-r { background-position: -192px -1088px; }
.mf-128.mf-microsoft { background-position: -384px -2048px; } .mf-128.mf-microsoft-r { background-position: -384px -2176px; }
.mf-32.mf-yahoo { background-position: -128px -512px; } .mf-32.mf-yahoo-r { background-position: -128px -544px; }
.mf-64.mf-yahoo { background-position: -256px -1024px; } .mf-64.mf-yahoo-r { background-position: -256px -1088px; }
.mf-128.mf-yahoo { background-position: -512px -2048px; } .mf-128.mf-yahoo-r { background-position: -512px -2176px; }
.mf-32.mf-baidu { background-position: -160px -512px; } .mf-32.mf-baidu-r { background-position: -160px -544px; }
.mf-64.mf-baidu { background-position: -320px -1024px; } .mf-64.mf-baidu-r { background-position: -320px -1088px; }
.mf-128.mf-baidu { background-position: -640px -2048px; } .mf-128.mf-baidu-r { background-position: -640px -2176px; }
.mf-32.mf-wikipedia { background-position: -192px -512px; } .mf-32.mf-wikipedia-r { background-position: -192px -544px; }
.mf-64.mf-wikipedia { background-position: -384px -1024px; } .mf-64.mf-wikipedia-r { background-position: -384px -1088px; }
.mf-128.mf-wikipedia { background-position: -768px -2048px; } .mf-128.mf-wikipedia-r { background-position: -768px -2176px; }
.mf-32.mf-amazon { background-position: -224px -512px; } .mf-32.mf-amazon-r { background-position: -224px -544px; }
.mf-64.mf-amazon { background-position: -448px -1024px; } .mf-64.mf-amazon-r { background-position: -448px -1088px; }
.mf-128.mf-amazon { background-position: -896px -2048px; } .mf-128.mf-amazon-r { background-position: -896px -2176px; }
.mf-32.mf-tencent { background-position: 0px -576px; } .mf-32.mf-tencent-r { background-position: 0px -608px; }
.mf-64.mf-tencent { background-position: 0px -1152px; } .mf-64.mf-tencent-r { background-position: 0px -1216px; }
.mf-128.mf-tencent { background-position: 0px -2304px; } .mf-128.mf-tencent-r { background-position: 0px -2432px; }
.mf-32.mf-taobao { background-position: -32px -576px; } .mf-32.mf-taobao-r { background-position: -32px -608px; }
.mf-64.mf-taobao { background-position: -64px -1152px; } .mf-64.mf-taobao-r { background-position: -64px -1216px; }
.mf-128.mf-taobao { background-position: -128px -2304px; } .mf-128.mf-taobao-r { background-position: -128px -2432px; }
.mf-32.mf-stackoverflow { background-position: -64px -576px; } .mf-32.mf-stackoverflow-r { background-position: -64px -608px; }
.mf-64.mf-stackoverflow { background-position: -128px -1152px; } .mf-64.mf-stackoverflow-r { background-position: -128px -1216px; }
.mf-128.mf-stackoverflow { background-position: -256px -2304px; } .mf-128.mf-stackoverflow-r { background-position: -256px -2432px; }
.mf-32.mf-bing { background-position: -96px -576px; } .mf-32.mf-bing-r { background-position: -96px -608px; }
.mf-64.mf-bing { background-position: -192px -1152px; } .mf-64.mf-bing-r { background-position: -192px -1216px; }
.mf-128.mf-bing { background-position: -384px -2304px; } .mf-128.mf-bing-r { background-position: -384px -2432px; }
.mf-32.mf-yandex { background-position: -128px -576px; } .mf-32.mf-yandex-r { background-position: -128px -608px; }
.mf-64.mf-yandex { background-position: -256px -1152px; } .mf-64.mf-yandex-r { background-position: -256px -1216px; }
.mf-128.mf-yandex { background-position: -512px -2304px; } .mf-128.mf-yandex-r { background-position: -512px -2432px; }
.mf-32.mf-ebay { background-position: -160px -576px; } .mf-32.mf-ebay-r { background-position: -160px -608px; }
.mf-64.mf-ebay { background-position: -320px -1152px; } .mf-64.mf-ebay-r { background-position: -320px -1216px; }
.mf-128.mf-ebay { background-position: -640px -2304px; } .mf-128.mf-ebay-r { background-position: -640px -2432px; }
.mf-32.mf-wordpress { background-position: -192px -576px; } .mf-32.mf-wordpress-r { background-position: -192px -608px; }
.mf-64.mf-wordpress { background-position: -384px -1152px; } .mf-64.mf-wordpress-r { background-position: -384px -1216px; }
.mf-128.mf-wordpress { background-position: -768px -2304px; } .mf-128.mf-wordpress-r { background-position: -768px -2432px; }
.mf-32.mf-reddit { background-position: -224px -576px; } .mf-32.mf-reddit-r { background-position: -224px -608px; }
.mf-64.mf-reddit { background-position: -448px -1152px; } .mf-64.mf-reddit-r { background-position: -448px -1216px; }
.mf-128.mf-reddit { background-position: -896px -2304px; } .mf-128.mf-reddit-r { background-position: -896px -2432px; }
.mf-32.mf-huffingtonpost { background-position: 0px -640px; } .mf-32.mf-huffingtonpost-r { background-position: 0px -672px; }
.mf-64.mf-huffingtonpost { background-position: 0px -1280px; } .mf-64.mf-huffingtonpost-r { background-position: 0px -1344px; }
.mf-128.mf-huffingtonpost { background-position: 0px -2560px; } .mf-128.mf-huffingtonpost-r { background-position: 0px -2688px; }
.mf-32.mf-analytics { background-position: -32px -640px; } .mf-32.mf-analytics-r { background-position: -32px -672px; }
.mf-64.mf-analytics { background-position: -64px -1280px; } .mf-64.mf-analytics-r { background-position: -64px -1344px; }
.mf-128.mf-analytics { background-position: -128px -2560px; } .mf-128.mf-analytics-r { background-position: -128px -2688px; }
.mf-32.mf-cnet { background-position: -64px -640px; } .mf-32.mf-cnet-r { background-position: -64px -672px; }
.mf-64.mf-cnet { background-position: -128px -1280px; } .mf-64.mf-cnet-r { background-position: -128px -1344px; }
.mf-128.mf-cnet { background-position: -256px -2560px; } .mf-128.mf-cnet-r { background-position: -256px -2688px; }
.mf-32.mf-codepen { background-position: -96px -640px; } .mf-32.mf-codepen-r { background-position: -96px -672px; }
.mf-64.mf-codepen { background-position: -192px -1280px; } .mf-64.mf-codepen-r { background-position: -192px -1344px; }
.mf-128.mf-codepen { background-position: -384px -2560px; } .mf-128.mf-codepen-r { background-position: -384px -2688px; }
.mf-32.mf-dropbox { background-position: -128px -640px; } .mf-32.mf-dropbox-r { background-position: -128px -672px; }
.mf-64.mf-dropbox { background-position: -256px -1280px; } .mf-64.mf-dropbox-r { background-position: -256px -1344px; }
.mf-128.mf-dropbox { background-position: -512px -2560px; } .mf-128.mf-dropbox-r { background-position: -512px -2688px; }
.mf-32.mf-evernote { background-position: -160px -640px; } .mf-32.mf-evernote-r { background-position: -160px -672px; }
.mf-64.mf-evernote { background-position: -320px -1280px; } .mf-64.mf-evernote-r { background-position: -320px -1344px; }
.mf-128.mf-evernote { background-position: -640px -2560px; } .mf-128.mf-evernote-r { background-position: -640px -2688px; }
.mf-32.mf-dribbble { background-position: -192px -640px; } .mf-32.mf-dribbble-r { background-position: -192px -672px; }
.mf-64.mf-dribbble { background-position: -384px -1280px; } .mf-64.mf-dribbble-r { background-position: -384px -1344px; }
.mf-128.mf-dribbble { background-position: -768px -2560px; } .mf-128.mf-dribbble-r { background-position: -768px -2688px; }
.mf-32.mf-skype { background-position: -224px -640px; } .mf-32.mf-skype-r { background-position: -224px -672px; }
.mf-64.mf-skype { background-position: -448px -1280px; } .mf-64.mf-skype-r { background-position: -448px -1344px; }
.mf-128.mf-skype { background-position: -896px -2560px; } .mf-128.mf-skype-r { background-position: -896px -2688px; }
.mf-32.mf-ask { background-position: 0px -704px; } .mf-32.mf-ask-r { background-position: 0px -736px; }
.mf-64.mf-ask { background-position: 0px -1408px; } .mf-64.mf-ask-r { background-position: 0px -1472px; }
.mf-128.mf-ask { background-position: 0px -2816px; } .mf-128.mf-ask-r { background-position: 0px -2944px; }
.mf-32.mf-adobe { background-position: -32px -704px; } .mf-32.mf-adobe-r { background-position: -32px -736px; }
.mf-64.mf-adobe { background-position: -64px -1408px; } .mf-64.mf-adobe-r { background-position: -64px -1472px; }
.mf-128.mf-adobe { background-position: -128px -2816px; } .mf-128.mf-adobe-r { background-position: -128px -2944px; }
.mf-32.mf-imdb { background-position: -64px -704px; } .mf-32.mf-imdb-r { background-position: -64px -736px; }
.mf-64.mf-imdb { background-position: -128px -1408px; } .mf-64.mf-imdb-r { background-position: -128px -1472px; }
.mf-128.mf-imdb { background-position: -256px -2816px; } .mf-128.mf-imdb-r { background-position: -256px -2944px; }
.mf-32.mf-bbc { background-position: -96px -704px; } .mf-32.mf-bbc-r { background-position: -96px -736px; }
.mf-64.mf-bbc { background-position: -192px -1408px; } .mf-64.mf-bbc-r { background-position: -192px -1472px; }
.mf-128.mf-bbc { background-position: -384px -2816px; } .mf-128.mf-bbc-r { background-position: -384px -2944px; }
.mf-32.mf-aol { background-position: -128px -704px; } .mf-32.mf-aol-r { background-position: -128px -736px; }
.mf-64.mf-aol { background-position: -256px -1408px; } .mf-64.mf-aol-r { background-position: -256px -1472px; }
.mf-128.mf-aol { background-position: -512px -2816px; } .mf-128.mf-aol-r { background-position: -512px -2944px; }
.mf-32.mf-vimeo { background-position: -160px -704px; } .mf-32.mf-vimeo-r { background-position: -160px -736px; }
.mf-64.mf-vimeo { background-position: -320px -1408px; } .mf-64.mf-vimeo-r { background-position: -320px -1472px; }
.mf-128.mf-vimeo { background-position: -640px -2816px; } .mf-128.mf-vimeo-r { background-position: -640px -2944px; }
.mf-32.mf-youku { background-position: -192px -704px; } .mf-32.mf-youku-r { background-position: -192px -736px; }
.mf-64.mf-youku { background-position: -384px -1408px; } .mf-64.mf-youku-r { background-position: -384px -1472px; }
.mf-128.mf-youku { background-position: -768px -2816px; } .mf-128.mf-youku-r { background-position: -768px -2944px; }
.mf-32.mf-cnn { background-position: -224px -704px; } .mf-32.mf-cnn-r { background-position: -224px -736px; }
.mf-64.mf-cnn { background-position: -448px -1408px; } .mf-64.mf-cnn-r { background-position: -448px -1472px; }
.mf-128.mf-cnn { background-position: -896px -2816px; } .mf-128.mf-cnn-r { background-position: -896px -2944px; }